<hr>
<label>Server Name</label>
<hr>
<input 
type="text"
class="form-control"
[(ngModel)]="serverName">
<p>{{ serverName }}</p>

<!-- <button 
class="btn btn-primary"
[disabled]="serverName===''"
(click)="onCreateServer()">
Add server</button> -->

<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>
        No server was created!
    </p>
</ng-template>

<app-server *ngFor="let s of serversList"></app-server>
<hr>
<app-act03></app-act03>
<hr>
<app-act03instructor></app-act03instructor>
