<p>act03instructor works!</p>
<div class="container">
    <ol>
        <li>Add button with label 'Display Details'</li>
        <li>Add paragraph with any content</li>
        <li>Toggle the displaying of the paragraph with the 'Display Details' button</li>
        <li>Log all button clicks to an array and output at the bottom</li>
        <li>Starting at the 5th log item, give all future items blue background via ngStyle and white text via ngClass</li>
    </ol>
</div>
<div class="container-fluid">
    <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
    <button class="btn btn-primary" (click)="onToggleSecret()">Display Details</button>
    <p *ngIf="showSecret">Secret Password=tuna</p>
    <div *ngFor="let l of log"
    [ngStyle]="{ backgroundColor: l >= 5 ? 'blue' : 'transparent' }"
    [ngClass]="{ 'white-text': l >= 5 }">
    {{l}}
    </div>
</div>